{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css')}}">

  <div class="card shadow-sm p-4 card-custom">
    <h3><center>Cadastrar Nova Notícia</center></h3>
    <hr />
     <form method="POST" enctype="multipart/form-data">
  <div class="row"> 

    <div class="col-md-6 mb-3">
      <label class="form-label"><b>Nome do Título</b></label>
      <input type="text" name="titulo" class="form-control" placeholder="Intriga no ambiente" />
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label"><b>Autor</b></label>
      <input type="text" name="autor" class="form-control"/>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label"><b>Data de publicação</b></label>
      <input type="date" name="data_publicacao" class="form-control"/>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label"><b>Fonte</b></label>
      <input type="text" name="fonte" class="form-control"/>
    </div>

    <div class="col-md-12 mb-3">
      <label class="form-label"><b>Texto</b></label>
      <textarea value="text" name="conteudo" class="form-control" rows="5"></textarea>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label"><b>Categoria</b></label>
      <select name="nome_categoria" class="form-control" required>
        <option value="">Selecione uma categoria</option>
        {% for categoria in categorias %}
        <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label"><b>Imagem</b></label>
      <input type="file" name="imagem" class="form-control" accept="image/*"/>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-preto w-100">Salvar Notícia</button>
    </div>

    <div class="col-12 mt-3 text-center">
      <a href="{{ url_for('noticias.listar_noticias') }}" class="btn btn-secondary">Voltar para Notícias</a>
    </div>

  </div>
  </form>
  </div>
{% endblock %}
